<h3>Edit category</h3><br/>
<form action="" method="post">
    <input type="hidden" name="id" value="<?=$data['category']['id']?>" />
    <div class="form-group">
        <label for="alias">Alias</label>
        <input type="text" id="alias" name="alias" value="<?=$data['category']['alias']?>" class="form-control" />
    </div>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" value="<?=$data['category']['title']?>" class="form-control" />
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description" id="description" class="form-control"><?=$data['category']['description']?></textarea>
    </div>
    <div class="form-group">
        <label for="is_published">Publish?</label>
        <input type="checkbox" name="is_published" id="is_published" <?php if ( $data['category']['is_published'] ){ ?>checked="checked"<?php } ?> />
    </div>
    <input type="submit" class="btn btn-success" />
</form>