<h3>Новости</h3><br/>
<table class="table table-stiped" style="width: 400px;">
    <?php foreach($data['news'] as $news_data) { ?>
    <tr>
        <td><b><?=$news_data['title']?></b></td>
        <td align="right">
            <a href="/admin/news/edit/<?=$news_data['nid']?>"><button class="btn btn-sm btn-primary">edit</button></a>
            <a href="/admin/news/delete/<?=$news_data['nid']?>" onclick="return confirmDelete();"><button class="btn btn-sm btn-warning">delete</button></a>
        </td>

        <?php } ?>
</table>
<br/>

<div>
    <a href="/admin/news/add/<?=$news_data['nid']?>"><button class="btn btn-sm btn-success">Добавить новость</button></a>
</div>

